*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.884);
    background-image: url(../asset/img/650_1200.png);
    background-position: top center;
    background-size: contain;
    background-repeat: inherit;
}


.colorNav{
    background-color: rgba(100, 83, 83, 0.521);
    color: white;
    
}
.logo{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.blanco{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 15px;
}

.titulo{
    color: white;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    font-weight: bold;
}


.containerImgGaleria img{
   height: 100%;
   background-color: gray;
   margin-left: 0%;
   margin-right: 0%;
}

.containerImgGaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 0%;
   margin-right: 0%; margin-left: 0%;
   margin-right: 0%;
    
}

.footer{
    background-color: rgba(128, 128, 128, 0.61);
    height: 60vh;
}

.linkFooter ul{
    list-style: none;
    padding-left: 0;
    justify-content: center;
    text-align: center;
}

.linkFooter ul li{
    margin-bottom: 10px;
}

.colorlink{
    color: white;
    text-decoration: none;
}

.icono{
    color: white;
}