.aparecer{
    animation-duration: 1s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
      transform: scale(0);  
      opacity: 0;
    }
    100% {
        transform: scale(1);
    opacity: 1;
    }
}






